.container {
    display: list-item;
    grid-template-columns: 100% auto;
}
.col {
    padding: 0.4em 1.3em;
}
.radiocol {
    padding: 0.4em 1.3em;
    display: inline-block;
}
.color-dark{
    background-color: #2885c4;
}
.color-light{
    background-color: #f1f3f5;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-block: 2em;
}
input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #A5f883;
    color: #003a61;
    margin-top: 1em;
    cursor: pointer;
}

.life-container {
    background: #f1f3f5;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}
  