/* You can add global styles to this file, and also import other style files */
p {
    font-weight: bold;
}
div {
    color: black;
}
body {
    background: lightskyblue;
    padding: 3em;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0 0 0.2em 0;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color: white;
    text-decoration: none;
}